<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cover Template for Bootstrap</title>

    <link href="{{ base_url }}/templates/{{ template_name }}/css/dropzone.min.css" type="text/css" rel="stylesheet"/>
    <link href="{{ base_url }}/templates/{{ template_name }}/css/basic.min.css" type="text/css" rel="stylesheet"/>
    <link href="{{ base_url }}/templates/{{ template_name }}/css/style.css" type="text/css" rel="stylesheet"/>

    <!-- Bootstrap core CSS -->
    <link href="{{ base_url }}/templates/{{ template_name }}/css/bootstrap.min.css" rel="stylesheet">
    <script src="{{ base_url }}/templates/{{ template_name }}/js/dropzone.min.js"></script>

</head>

<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Cover</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contact</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <p class="lead">
        <form action="{{ base_url }}/upload" class="dropzone" id="myDropzone"></form>
        </p>
        <p id="response"></p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a
                        href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ base_url }}/templates/{{ template_name }}/js/vendor/jquery-slim.min.js"><\/script>')</script>

<script src="{{ base_url }}/templates/{{ template_name }}/js/bootstrap.min.js"></script>
<script>
    Dropzone.options.myDropzone = {
        init: function () {
            this.on("success", function (file, responseText) {
                $('#response').textContent = responseText;
            });
        }
    };
</script>

</body>
</html>